.avatar {
    margin: 24px auto 20px;
    text-align: center;
}

.title {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    text-align: center;
}

.text {
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin-top: 16px;
    text-align: center;
}

.card {
    border-radius: 8px;
    margin-bottom: 15px;
}

.ant-typography-expand, .ant-typography-edit, .ant-typography-copy {
    margin-left: 10px;
}