@import '~antd/dist/antd.less';

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}